{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-7 col-md-6">
                <a href="{% url 'menu' %}">
                <button class="btn">Order Now</button>
                </a>
                <div class="container-fluid">
        <div class="row">
            {% for favorite in favorites %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ favorite.menuitem.name }}</h5>
                            <p class="card-text">{{ favorite.menuitem.description }}</p>
                            <p class="card-text">€{{ favorite.menuitem.price }}</p>
                            <a href="{% url 'remove_from_favorites' favorite.menuitem.id %}">Remove from Favorites</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}