{% load static %}
<!-- Footer -->
<footer class="footer">
    <div class=" py-1 ml-1 mr-1">
        <div class="row"> 
            <!-- Left section -->
            <div class="col-md-4 footer-left">
                <h5 class="text-uppercase">The Chip Shop</h5>
                <p>Cork, Ireland</p>
                <a href="{% url 'privacy' %}">Privacy Policy</a>
            </div>
            <!-- Begin Mailchimp Signup Form -->
                    <div class="col-md-4 footer-middle mt-3 mt-md-0">           
                        <div id="mc_embed_shell">
                            <div id="mc_embed_signup">
                                <form action="https://herokuapp.us18.list-manage.com/subscribe/post?u=9aee88352e5231b73c2a163bd&amp;id=23f4008990&amp;f_id=0095c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                                    <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
                                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                        </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display: none;"></div>
                                        <div class="response" id="mce-success-response" style="display: none;"></div>
                                    </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                    <input type="text" name="b_9aee88352e5231b73c2a163bd_23f4008990" tabindex="-1" value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe" style="background-color:  #007bff; color: white;"><p style="margin: 0px auto;"><a href="http://eepurl.com/iNzGv-" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 50px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col d-flex footer-right justify-content-center justify-content-md-end align-items-center mt-3 mt-md-0">
                <h5 class="text-uppercase">Follow us</h5>
                <ul class="list-inline social-icons mb-0">
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="visit our Instagram page (opens in a new tab)">
                            <i class="fab fa-instagram fa-2x icon-white "></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/profile.php?id=61558446350569" target="_blank" rel="noopener" aria-label="visit our Facebook page (opens in a new tab)">
                            <i class="fab fa-facebook-f fa-2x icon-white"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://tiktok.com" target="_blank" rel="noopener" aria-label="visit our TikTok page (opens in a new tab)">
                            <i class="fab fa-tiktok fa-2x icon-white"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
