{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar menu-page-nav navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            {% for category in categories %}
                                <li class="nav-item category-item">
                                    <a class="nav-link" href="{% url 'menu_by_category' category.id %}">{{ category.friendly_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Sorting Dropdown -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'menu' %}?sort=price">Price: Low to High</a>
                            <a class="dropdown-item" href="{% url 'menu' %}?sort=price">Price: High to Low</a>
                            <a class="dropdown-item" href="{% url 'menu' %}?sort=name">Name: A to Z</a>
                            <a class="dropdown-item" href="{% url 'menu' %}?sort=name">Name: Z to A</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row menupage-container card-deck">
                {% for menuitem in menu %}
                    <div class="col-md-6  mb-3 mt-3">
                        <div class="card menu-card h-100">
                            {% if menuitem.image %}
                                <a href="{% url 'menuitem_detail' menuitem.id %}">
                                    <img class="card-img-top img-fluid menu-image" src="{{ menuitem.image.url }}" alt="{{ menuitem.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'menuitem_detail' menuitem.id %}">
                                    <img class="card-img-top img-fluid menu-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ menuitem.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ menuitem.name }}</h5>
                                <p class="card-text">{{ menuitem.description }}</p>
                                <p class="card-text">€{{ menuitem.price }}</p>
                                <form method="post" action="{% url 'add_to_basket' menuitem.id %}" class="d-flex justify-content-end my-3">
                                    {% csrf_token %}
                                    <input type="number" name="quantity" min="1" max="99" value="1" class="mr-2">
                                    <input type="submit" class="btn btn-sm" value="Add to Basket">
                                </form>
                                {% if user.is_authenticated %}
                                    <div class="mt-2">
                                        {% if menuitem.id in user_favorites %}
                                            <a class="remove-favs p-2" href="{% url 'remove_from_favorites' menuitem.id %}">Remove from Favorites</a>
                                        {% else %}
                                            <a class="add-favs p-2" href="{% url 'add_to_favorites' menuitem.id %}">Add to Favorites</a>
                                        {% endif %}
                                    </div>  
                                    {% if menuitem.avg_rating %}
                                        <div class="rating-stars mt-2 p-2" data-toggle="tooltip" title="{{ menuitem.avg_rating }} out of 5 stars">
                                            {% for i in menuitem.avg_rating|star_range %}
                                                <i class="fas fa-star"></i>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <small class="p-2">No Rating</small>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                        <div class="card-footer pt-3">
                                            <a href="{% url 'edit_menuitem' menuitem.id %}" class="btn btn-primary btn-sm mr-2">Edit</a>
                                            <a href="{% url 'delete_menuitem' menuitem.id %}" class="btn btn-danger btn-sm ml-2">Delete</a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
    $(document).ready(function() {
        var numItems = $('.menupage-container .col-md-4').length;
        if (numItems == 1) {
            $('.menupage-container .col-md-4').removeClass('col-md-4').addClass('col-md');
        }
    });
    </script>
{% endblock %}

