{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container" style="padding-top: 350px;>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            {% for category in categories %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'menu_by_category' category.id %}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Sorting Dropdown -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'menu' %}?sort=price">Price: Low to High</a>
                            <a class="dropdown-item" href="{% url 'menu' %}?sort=price">Price: High to Low</a>
                            <a class="dropdown-item" href="{% url 'menu' %}?sort=name">Name: A to Z</a>
                            <a class="dropdown-item" href="{% url 'menu' %}?sort=name">Name: Z to A</a>
                        </div>
                </div>
                </nav>
                
        </div>
        <div class="row">
            {% for menuitem in menu %}
                <div class="col-md-4">
                    <div class="card mb-4">
                    {% if menuitem.image %}
                                <a href="{% url 'menuitem_detail' menuitem.id %}">
                                    <img class="card-img-top img-fluid" src="{{ menuitem.image.url }}" alt="{{ menuitem.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'menuitem_detail' menuitem.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ menuitem.name }}">
                                </a>
                                {% endif %}
                                 {% if menuitem.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ menuitem.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            
                        <div class="card-body">
                            <h5 class="card-title">{{ menuitem.name }}</h5>
                            <p class="card-text">{{ menuitem.description }}</p>
                            <p class="card-text">€{{ menuitem.price }}</p>
                            {% comment %} <form method="post" action="{% url 'add_to_basket' menuitem.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" min="1" max="99" value="1">
                            <input type="submit" class="btn btn-primary" value="Add to Basket">
                            </form> {% endcomment %}
                        </div>
                        
                        {% if request.user.is_superuser %}
                            <div class="card-footer">
                                <a href="{% url 'edit_menuitem' menuitem.id %}" class="btn btn-secondary">Edit</a>
                                <a href="{% url 'delete_menuitem' menuitem.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}