{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container body-container">
        <div class="row">
            <!-- Image on the left -->
            <div class="col-md-6">
                <div class="card menu-detail-card">
                    <img src="{% if menuitem.image %}{{ menuitem.image.url }}{% else %}{% static 'noimage.png' %}{% endif %}" class="card-img-top" alt="{{ menuitem.name }}">
                    <h5 class="card-title p-2">{{ menuitem.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted pl-2">€{{ menuitem.price }}</h6>
                    <p class="card-text pl-2 pb-3">{{ menuitem.description }}</p>
                </div>
            </div>
            <!-- Form on the right -->
            <div class="col-md-6">
                <form class="form-inline" action="{% url 'add_to_basket' menuitem.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group mr-2">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" value="1" min="1" max="99" class="form-control ml-2" id="quantity">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add to Basket">
                    <input type="hidden" name="redirect_url" value="{% url 'menu' %}">
                </form>
                {% if request.user.is_superuser %}
                <div class="btn-group mt-3">
                    <a href="{% url 'edit_menuitem' menuitem.id %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'delete_menuitem' menuitem.id %}" class="btn btn-danger">Delete</a>
                </div>
                {% endif %}
                <a href="{% url 'menu' %}" class="btn btn-outline-dark mt-3">Keep Shopping</a>
            </div>
        </div>
        {% if user_has_purchased %}
        <div>
        <a href="{% url 'add_review' menuitem.id %}" class="btn btn-outline-dark mt-3">Leave A Review</a>              
        </div>  
        {% endif %}
        {% if not user_has_purchased %}
        <div>
        <a href="{% url 'menu' %}" class="btn btn-outline-dark mt-3">Back to Menu</a>
        </div>   
    {% endif %}
    </div>
    <div class="row mt-3">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reviews</h5>
                    <hr>
                    {% if menuitem.reviews_set.all %}
                    <div class="review-container scrollable">
                        {% for review in menuitem.reviews_set.all|slice:":8" %}
                        <div class="review mb-3">
                            <p class="mb-0">Reviewed by: {{ review.user.username }} on {{ review.created_on|date:"F j, Y" }}</p>
                            {% if review.user == request.user %}
                                <a href="{% url 'edit_review' review.id %}">Edit</a>
                                <a href="{% url 'delete_review' review.id %}">Delete</a>
                            {% endif %}
                            <p class="mb-0">Rating:</p>
                            <div class="rating-stars">
                                {% for i in review.rating|star_range %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            </div>
                            <p class="mb-0">{{ review.comment }}</p>
                            <hr>
                        </div>
                    {% endfor %}
                        
                    </div>
                    {% else %}
                    <p>No reviews yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}