{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="The Chip Shop Cork, Ireland. Fast Food, Takeaway Food, Fish and Chips, Burgers and Chip, Pizza, Pizza Delivery, The Chip Shop Cork Fish and Chips Takeaway Delivery, Fast Delivery">
        <meta name="keywords" content="The Chip Shop, The Chip Shop Cork, The Chip Shop Ireland,Fast Food,Takeaway Food, The Chip Shop Fish and Chips, The Chip Shop Cork Fish and Chips,Burgers and Chip ,Pizza, Pizza Delivery ,, The Chip Shop Cork Fish and Chips Takeaway Delivery, Fast Delivery">
        <meta name="author" content="Edel Corbett">
    {% endblock %}
    <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io /favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io /favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon_io /site.webmanifest' %}">
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
         <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    
    <title>{% block extra_title %}{% endblock %}</title>
</head>
<body>
    <header class="container-fluid ">
        <div class="d-flex align-items-center">
            <div class="logo-container mr-0">
                <img src="{% static 'images/the-chip-shop-logo.png' %}" alt="Logo">
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light flex-grow-1">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link "  href="{% url 'inquiry_form' %}">Contact Us</a>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 icon-container">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center header-icon">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0 d-none d-sm-block">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'admin:index' %}" class="dropdown-item">Django Admin panel</a>
                                        <a href="{% url 'add_menuitem' %}" class="dropdown-item">Menu Management</a>
                                        <a href="{% url 'view_orders_no_arg' %}" class="dropdown-item">Orders</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_basket' %}">
                                <div class="text-center header-icon">
                                    <div><i class="fa-solid fa-basket-shopping"></i></i></div>
                                        <p class="my-0 d-none d-sm-block">
                                            {% if total %}
                                                €{{ total|floatformat:2 }}
                                            {% else %}
                                                €0.00
                                            {% endif %}
                                        </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                    {% include 'includes/mobile-top-header.html' %}
            </nav>
        </div>
        <div class="row search-bar">  
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 ml-auto mt-n2 header-icon">
                <form method="GET" action="">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
<main class="container-fluid">
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
        </div>
    {% endif %}
</main>

{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}

{% include 'includes/footer.html' %}

{% block postloadjs %}
<script type="text/javascript">
        $('.toast').toast('show');
</script>
<!--font awesome script -->
<script src="https://kit.fontawesome.com/b926389346.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script> 
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
$(document).ready(function() {
    var numItems = $('.menupage-container .col-md-4').length;
    if (numItems == 1) {
        $('.menupage-container .col-md-4').removeClass('col-md-4').addClass('col-md');
    }
});
</script>
{% endblock %}

</body>
</html>