{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row align-items-center justify-content-center mt-5">
        <div class="col-6 text-center">
            <h2>Thank You!</h2>
            <p>Your inquiry has been submitted successfully.</p>
            <p>We will be in contact with you with in 2 business days.</p>
            <p>If you need to speak to us urgently, please call us at 0214356786</p>
            <a href="{% url 'home' %}" class="btn btn-primary">Back Home</a>
        </div>
    </div>
</div>
{% endblock %}